# Root node_modules
node_modules/

# macOS & system files
.DS_Store
*.log

# TypeScript
dist/
*.tsbuildinfo

# Metro
.expo/
.expo-shared/
.expo-dev-client/

# Android
android/.gradle/
android/app/build/
android/build/
*.keystore
*.iml
*.apk
android/local.properties
android/captures/

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcuserdatad/
*.xcframework.zip

# Codegen output
__generated__/

# React Native new architecture outputs
*.turbomodule.js
*.codegen/

# Example app node_modules
example/node_modules/
example/android/app/build/
example/ios/build/
example/ios/Pods/
example/ios/DerivedData/

# IDEs
.idea/
.vscode/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/cache/